{% extends "main_app/base.html" %}

{% block content %}
<pre>
    <p class="ass">
        <img src="/static/main_app/images/ass_we_can.jpg" style="width: 300px;"/> <!-- как сделать путь короче? -->
    </p>
</pre>
<ul>
{% for p in products %}
    <li><div>
        <p><a href="{{p.link}}">{{p.name}}</a></p>
        <p>Магазин: {{p.shop.name}}</p>
        <p>Категория: {{p.cat.name}}</p>
        <p>Цена: {{p.previous_price}}</p>
    </div>
    </li>
        

{% endfor %}
</ul>
<!-- Переключение страниц -->
{% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>


    {% if page_obj.has_previous %}
        <li class="page-num">
             <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        </li>
    {% endif %}


            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
                    <li class="page-num">
                        <a href="?page={{ p }}">{{ p }}</a>
                {% endif %}
                    </li>
            {% endfor %}


    {% if page_obj.number < paginator.num_pages|add:-2 %}
        <li class="page-num">
            <a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
        </li>
    {% endif %}


{% if page_obj.has_next %}
    <li class="page-num">
         <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
    </li>
{% endif %}
        </ul>
    </nav>
{% endif %}
<!-- Конец переключателя страниц -->
{% endblock %}
