body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
nav {	/* для менюшки */
    display: flex;
    justify-content: space-around;
    background-color: #444;
    padding: 0px;
	
}
nav a {		/* и это */
    color: white;
    text-decoration: none;
}
footer {	/* не фиксируется, по идее должно через параметр position: absolute; */
    background-color: #333;
    color: white;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
	flex: 0 0 auto;
	box-sizing: border-box;
	padding: 5px;
	font-size: 14px;
	font-family: Verdana, Geneva, Arial, Helvetica;
	overflow: hidden;
}
.sidebar {
    background-color: #eee;
    float: left;
    width: 20%;
    height: 70vh; /* настраивается высота, но не фиксируется footer, footer вообще не фиксируется */
    padding: 20px;
}
.content {
    /* margin-left: 20%; */
    /* padding: 20px; */
	/* flex: 1 0 auto; */
	/* text-align: center; */
	padding: 0px 20px 20px 600px;
	width: 50%;
	box-sizing: border-box;
}
ul.mainmenu {	/* настройка менюшки сверху */
    list-style: none;
    margin: 0;
    padding: 0;
    height: 60px;
    color: #fdc073;
    font-size: 20px;
    overflow: hidden;
}
ul.mainmenu li {	/* настройка отдельных элементов менюшки */
    display: inline;
    float: left;
    margin: 18px 40px 0 30px;
}
ul.mainmenu li a {		/* хз, ни на что не влияет */
    color: white;
    text-decoration: none;
}
ul.mainmenu li a:hover {	/* то же, что и предыдущее */
    color: #FDA83D;
}